# Git
.git
.github

# IDE
.vscode

# Docs
*.md
*.pdf
guidelines/
Logo/

# Old projects
receiver-app/
receiver-app-old/
airframe-dashboard/
airframe-dashboard-old/
signaling-server/
capture-app-old/
capture-app-capacitor/
airframe-bootstrap/
manifest-server/

# Build output
dist/
build/

# Node
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Android
android/

# iOS
ios/

# Cache
.expo
.expo-shared

node_modules